<div class="table-responsive edit-rooms">
    <br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td colspan="2">{{listRooms[0].description}}</td>
            </tr>
            <tr>
                <td width="10%">Этаж:</td>
                <td width="90%">{{listRooms[0].floor}}</td>
            </tr>
            <tr>
                <td>Мест:</td>
                <td>{{listRooms[0].seats_number}}</td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td>{{listRooms[0].phone}}</td>
            </tr>
        </tbody>
    </table>


    <div>
        <h2 class="text-center">{{ vm.calendarTitle }}</h2>

        <div class="row">

            <div class="col-md-6 text-center">
                <div class="btn-group">

                    <button
                            class="btn btn-primary"
                            mwl-date-modifier
                            date="vm.viewDate"
                            decrement="vm.calendarView">
                        Предыдущий
                    </button>
                    <button
                            class="btn btn-default"
                            mwl-date-modifier
                            date="vm.viewDate"
                            set-to-today>
                        Cегодня
                    </button>
                    <button
                            class="btn btn-primary"
                            mwl-date-modifier
                            date="vm.viewDate"
                            increment="vm.calendarView">
                        Следующий
                    </button>
                </div>
            </div>

            <br class="visible-xs visible-sm">

            <div class="col-md-6 text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Год</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Месяц</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Неделя</label>
                    <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">День</label>
                </div>
            </div>

        </div>

        <br>

        <mwl-calendar
                events="vm.events"
                view="vm.calendarView"
                view-title="vm.calendarTitle"
                view-date="vm.viewDate"
                on-event-click="vm.eventClicked(calendarEvent)"
                on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                on-edit-event-click="vm.eventEdited(calendarEvent)"
                on-delete-event-click="vm.eventDeleted(calendarEvent)"
                cell-is-open="vm.isCellOpen"
                day-view-start="06:00"
                day-view-end="22:00"
                day-view-split="30"
                cell-modifier="vm.modifyCell(calendarCell)">
        </mwl-calendar>

        <br><br><br>

        <h3 id="event-editor">
            Редактирование событий
            <button
                    class="btn btn-success pull-right reservation"
                    ng-click="reservation()">
                Сохранить
            </button>

            <button
                    class="btn btn-primary pull-right"
                    ng-click="add()">
                Добавить новое
            </button>

            <div class="clearfix"></div>
        </h3>

        <table class="table table-bordered">

            <thead>
            <tr>
                <th>Заявитель</th>
                <th>Название</th>
                <th>Тип встречи</th>
                <th>Время начала</th>
                <th>Время окончания</th>
                <th>Удалить</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="event in vm.events track by $index">
                <td>
                    <input
                            type="text"
                            class="form-control"
                            ng-model="event.applicant">
                </td>
                <td>
                    <input
                        type="text"
                        class="form-control"
                        ng-model="event.title">
                </td>
                <td>
                    <select  class="form-control" ng-model="event.type"  ng-options="value for (key, value) in eventsType">
                    </select>


                    <!--<select ng-model="event.type" class="form-control">
                        <option value="important">Important</option>
                        <option value="warning">Warning</option>
                        <option value="info">Info</option>
                        <option value="inverse">Inverse</option>
                        <option value="success">Success</option>
                        <option value="special">Special</option>
                    </select>-->
                </td>
                <td>
                    <p class="input-group" style="max-width: 250px">
                        <input
                                type="text"
                                class="form-control"
                                readonly
                                uib-datepicker-popup="dd MMMM yyyy"
                                ng-model="event.startsAt"
                                is-open="event.startOpen"
                                close-text="Close" >
                        <span class="input-group-btn">
                          <button
                                  type="button"
                                  class="btn btn-default"
                                  ng-click="vm.toggle($event, 'startOpen', event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </p>
                    <uib-timepicker
                            ng-model="event.startsAt"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="true">
                    </uib-timepicker>
                </td>
                <td>
                    <p class="input-group" style="max-width: 250px">
                        <input
                                type="text"
                                class="form-control"
                                readonly
                                uib-datepicker-popup="dd MMMM yyyy"
                                ng-model="event.endsAt"
                                is-open="event.endOpen"
                                close-text="Close">
            <span class="input-group-btn">
              <button
                      type="button"
                      class="btn btn-default"
                      ng-click="vm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
                    </p>
                    <uib-timepicker
                            ng-model="event.endsAt"
                            hour-step="1"
                            minute-step="15"
                            show-meridian="true">
                    </uib-timepicker>
                </td>
                <td>
                    <button
                            class="btn btn-danger"
                            ng-click="vm.events.splice($index, 1)">
                            Удалить
                    </button>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>


